* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
.app-container {
  display: flex;
  /* height: 100vh; */
}

.sidebar {
  flex: 1;
  padding: 0 48px 36px 48px;
  max-width: 500px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-container {
  background-color: #fff;
  padding: 150px 48px;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* overflow-y: auto; */
}

.content {
  height: 80vh;
  flex: 2;
  display: flex;
}

.bg-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-container {
  margin: 20px 0;
  background-color: #fff;
  padding: 20px 32px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.search-title {
  font-size: 16px;
  margin-bottom: 0;
  padding-bottom: 16px;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 180px;
  outline: none;
  transition: border-color 0.2s;
}

.search-input:focus {
  border-color: #007bff;
}

.search-button {
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

#search-button:hover {
  background-color: #0056b3;
}

.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: none;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #eaeaea;
  transition: background-color 0.3s;
  cursor: pointer;
}

li:last-child {
  border-bottom: none;
}

li:hover {
  background-color: #eaeaea;
}

.title-container {
  margin-top: 20px;
  text-align: center;
}

.title {
  font-size: 64px;
}

.subtitle {
  font-size: 24px;
}

.subtitle-2 {
  font-size: 16px;
}

#countries-container {
  display: grid;
  text-align: center;
  overflow: hidden;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  /* max-width: 500px; */
}

.hidden {
  display: none;
}

#countries-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 24px;
}

.card {
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  width: 150px;
  max-height: 100px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-10px);
}
